<footer>
    <div class="d-flex">

        <div>
            <i>Copyleft</i> Wellington W. F. Sarmento - all rights reserved.   Página sob licença <a class="text-light" href="https://www.gnu.org/licenses/gpl-3.0.txt">Gnu Public License version 3.0.</a>
        </div>
    </div>
</footer>